.container {
    width: 1200px;
    height: 800px;
    background-image: url("../images/heroes.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    color: white;
    border-style: outset;
    font-family: "Comic Sans MS", cursive, sans-serif;
}

img {
    width: 100px;
}